html 
    head 
        title= title
        link(rel="stylesheet", href="/style.css")
        script(src="/js/localStorage.js")
    body 
    div(class="container")
        div(class="formulario")
            header 
                h1 The Metropolitan Museum of Art
            form(action="/submit" method="POST" id="form")
                label(for="keyword") Palabra clave:
                input(type="text" name="keyword" id="keyword" value=palabraClave)
                label(for="departments") Departamentos: 
                select(name="departments" id="departments") 
                    option(value="") Todos
                    each department in departments
                        option(value=department.departmentId) #{department.displayName}

                label(for="location") Ubicacion: 
                input(type="text", name="location" id="location") 
                button(type="submit" id="mybutton") Enviar
        
        div(class="grilla") 
           each datosObra in detallesObras
                div(class="card")
                    h2(id="titulo")= datosObra.title || 'Sin título'
                    img(src=datosObra.primaryImageSmall || '/sinImagen.png', alt="" id="imagenCard")
                    h4(id="cultura")= datosObra.culture || 'No posee cultura'
                    h4(id="dinastias")= datosObra.dynasty || 'No posee dinastía'
                    if datosObra.additionalImages && datosObra.additionalImages.length != 0
                        button(onclick= `window.location.href='detalles/${datosObra.objectID}'`) Ver imagen adicional

        div(class="paginacion")
            if currentPage > 1
                a(href=`/?page=${currentPage - 1}`) Anterior
            each i in totalPages
                a(href=`/?page=${i + 1}`) #{i + 1}
            if currentPage < totalPages
                form(action=`/submit/?page=${currentPage + 1}` method="POST" id="form")
                    input(type="text", name="location" id="next")
                    button(type="submit" id="mybutton") Siguiente
