html 
    head 
        title= Principal
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Castoro+Titling&family=Sansita+Swashed:wght@300..900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Castoro+Titling&family=Sansita+Swashed:wght@300..900&family=Stint+Ultra+Expanded&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet")

        link(rel="stylesheet", href="style/style.css")
        script(src="/js/jsCliente.js") 
    body 
    div(class="container")
        div(class="formulario")
            header 
                h1.archivo-black-regular The Metropolitan Museum of Art
            form.stint-ultra-expanded-regular(action="/submit" method="POST" id="form" onsubmit="validarCampos(event)")
                label(for="keyword") Palabra clave:
                input(type="text" name="keyword" id="keyword")
                label(for="departments") Departamentos: 
                select(name="departments" id="departments") 
                    option(value="")
                    each department in departments
                        option(value=department.departmentId) #{department.displayName}

                label(for="location") Ubicacion: 
                input(type="text", name="location" id="location") 
                button.archivo-black-regular(type="submit" id="mybutton") Enviar
                ul(class = "error" id="listaErrores")
                ul(class = "mensajes" id="listaMensajes")
        
        div(class="grilla") 
           each datosObra in detallesObras
                div(class="card" 
                id=`card-${datosObra.objectID}` 
                datosFecha=datosObra.objectDate 
                onmouseover=`mostrarFecha(${datosObra.objectID})` 
                onmouseout=`ocultarFecha(${datosObra.objectID})`)
                    h2.sansita-swashed-cards(id="titulo")= datosObra.title || 'Sin título'
                    p(class= "fecha" id=`fecha-${datosObra.objectID}`) 
                    img(src=datosObra.primaryImageSmall || '/images/sinImagen.png', alt="" id="imagenCard")
                    h4.stint-ultra-expanded-regular(id="cultura")= datosObra.culture || 'No posee cultura'
                    h4.stint-ultra-expanded-regular(id="dinastias")= datosObra.dynasty || 'No posee dinastía'
                    if datosObra.additionalImages && datosObra.additionalImages.length != 0
                        button.archivo-black-regular(class="bAdicionales" onclick=`window.location.href=window.location.origin + '/detalles/${datosObra.objectID}'`) Ver imagen adicional

        div(class="paginacion")
            if currentPage > 1
                a.archivo-black-regular(href=`/paginado?page=${currentPage - 1}`) Anterior  
            each i in totalPages
                a(href=`/paginado?page=${i + 1}`) #{i + 1}
            if currentPage < totalPages
                a.archivo-black-regular(href=`/paginado?page=${currentPage + 1}`) Siguiente

                
        

    